[package]
name = "next"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
clap = { version = "4.4", features = ["derive"] }
anyhow = "1.0"
wasm-bindgen = "0.2"
